# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.vs/
.vscode/

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit tes
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode/

# Pyre type checker
.pyre/



# Custom
data/airbnb_prague/reviews_details.csv
data/airbnb_prague/listings_details.csv
results/

*.suo
*.Rhistory

*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz
MAD_II/scripts/.rkward_autosave
MAD_II/ui/#builder.ui#
